@font-face {
  font-family: "OpenSans-Semibold";
  src: url(..//fonts/OpenSans-Semibold.eot);
  src: url(..//fonts/OpenSans-Semibold.eot?#iefix) format("embedded-opentype"), url(..//fonts/OpenSans-Semibold.svg#OpenSans-Semibold) format("svg"), url(..//fonts/OpenSans-Semibold.ttf) format("truetype"), url(..//fonts/OpenSans-Semibold.woff) format("woff"), url(..//fonts/OpenSans-Semibold.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(..//fonts/OpenSans-Regular.eot);
  src: url(..//fonts/OpenSans-Regular.eot?#iefix) format("embedded-opentype"), url(..//fonts/OpenSans.svg#OpenSans) format("svg"), url(..//fonts/OpenSans.ttf) format("truetype"), url(..//fonts/OpenSans.woff) format("woff"), url(..//fonts/OpenSans-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Italic";
  src: url(..//fonts/OpenSans-Italic.eot);
  src: url(..//fonts/OpenSans-Italic.eot?#iefix) format("embedded-opentype"), url(..//fonts/OpenSans-Italic.svg#OpenSans-Italic) format("svg"), url(..//fonts/OpenSans-Italic.ttf) format("truetype"), url(..//fonts/OpenSans-Italic.woff) format("woff"), url(..//fonts/OpenSans-Italic.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url(..//fonts/OpenSans-Bold.eot);
  src: url(..//fonts/OpenSans-Bold.eot?#iefix) format("embedded-opentype"), url(..//fonts/OpenSans-Bold.svg#OpenSans-Bold) format("svg"), url(..//fonts/OpenSans-Bold.ttf) format("truetype"), url(..//fonts/OpenSans-Bold.woff) format("woff"), url(..//fonts/OpenSans-Bold.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, ul, li, p, a, img, span, input {
  margin: 0;
  padding: 0;
  border: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'OpenSans', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: bold;
}

.header_top {
  background-color: #333131;
}

.header_top_cover {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header_top_logo_link {
  height: 27px;
  width: 145px;
  background: #ff5656 url(../images/icons/logo.png) no-repeat center;
  padding: 2.659574468085106% 1.48936170212766%;
}

.header_top_list {
  display: flex;
  margin: 2.659574468085106% 0;
}

.header_top_item {
  width: 27px;
  height: 27px;
  padding-left: 6px;
}

.header_top_link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.header_top_link_twitter {
  background: url(../images/icons/twitter.png) no-repeat center;
}

.header_top_link_twitter:hover {
  background: url(../images/icons/twitter_active.png) no-repeat center;
}

.header_top_link_facebook {
  background: url(../images/icons/facebook.png) no-repeat center;
}

.header_top_link_facebook:hover {
  background: url(../images/icons/facebook_active.png) no-repeat center;
}

.header_top_link_dribbble {
  background: url(../images/icons/dribbble.png) no-repeat center;
}

.header_top_link_dribbble:hover {
  background: url(../images/icons/dribbble_active.png) no-repeat center;
}

.header_top_link_rss {
  background: url(../images/icons/rss.png) no-repeat center;
}

.header_top_link_rss:hover {
  background: url(../images/icons/rss_active.png) no-repeat center;
}

.header_middle {
  width: 940px;
  margin: 0 auto;
  background-color: #ffffff;
  line-height: 1.2rem;
  max-height: 125px;
}

.header_middle_title {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #4a4a4a;
  margin: 5.319148936170213% 0 5.851063829787234%;
}

.header_bottom {
  position: relative;
}

.header_bottom::before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
  border-top: 1px solid #dbdbdb;
}

.header_bottom::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
  border-top: 1px solid #dbdbdb;
  box-shadow: 0 2px 4px #dbdbdb;
}

.header_bottom_list {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.header_bottom_item {
  border-right: 1px solid #eaeaea;
  padding: 2.127659574468085%;
}

.header_bottom_item_searchbar {
  padding: 1.382978723404255% 2.021276595744681% 1.276595744680851% 14.46808510638298%;
}

.header_bottom_item_searchbar_input {
  border: 1px solid #dddddd;
  border-radius: 4px;
  height: 35px;
  width: 220px;
  font-size: 16px;
}

.header_bottom_item_searchbar_input:focus {
  outline: none;
  border: 1px solid #fb7474;
}

.header_bottom_item_home {
  border-left: 1px solid #eaeaea;
  padding: 2.021276595744681%;
  height: 25px;
  width: 29px;
}

.header_bottom_link {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #474747;
  text-transform: capitalize;
}

.header_bottom_link_home {
  display: block;
  font-size: 0px;
  background: url(../images/icons/home.png) no-repeat center;
}

.header_bottom_link:hover {
  color: #fb7474;
}

.main_content {
  background-color: #f1f1f1;
}

.main_content_background {
  padding-top: 50px;
}

.main_content_title {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  color: #5e5e5e;
  text-transform: uppercase;
  padding: 20px 0 20px 2px;
  border-top: 1px solid #ff5656;
  width: max-content;
}

.main_content_title_bottom {
  border-top: none;
}

.main_content_top {
  width: 940px;
  margin: 0 auto 10px;
}

.main_content_top::before {
  content: "";
  width: 100%;
  display: block;
  clear: both;
  margin-bottom: -1px;
  border-top-style: dashed;
  border-color: #cccccc;
  border-width: 1px;
}

.main_content_top_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main_content_top_item {
  width: 25%;
  overflow: hidden;
}

.main_content_top_link {
  display: block;
  font-size: 0;
  transition: all .5s linear;
}

.main_content_top_link:hover {
  transform: scale(1.4);
}

.main_content_middle {
  width: 940px;
  margin: 50px auto 10px;
}

.main_content_middle::before {
  content: "";
  width: 100%;
  display: block;
  clear: both;
  margin-bottom: -1px;
  border-top-style: dashed;
  border-color: #cccccc;
  border-width: 1px;
}

.main_content_middle_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main_content_middle_item {
  width: 31.91489361702128%;
  margin-bottom: 19px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background-color: #ffffff;
  height: max-content;
  transition: all .3s linear;
}

.main_content_middle_item:hover {
  margin: -10px 0 29px;
  box-shadow: 0 0 10px #8a8a8a;
}

.main_content_middle_item_title {
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 15px;
  color: #5e5e5e;
  padding-top: 243px;
  margin: 0 16px;
  width: max-content;
}

.main_content_middle_item_title::after {
  content: "";
  display: block;
  clear: both;
  border-bottom: 1px solid #d5d5d5;
  width: 55%;
  margin-top: 15px;
}

.main_content_middle_item_description {
  font-size: 12px;
  color: #6d6d6d;
  margin: 15px 16px 30px;
}

.main_content_middle_link {
  display: block;
  margin: 4px 4px 0;
}

.main_content_middle_link_mac {
  background: url(../images/mac.jpg) no-repeat;
}

.main_content_middle_link_paper {
  background: url(../images/paper.jpg) no-repeat;
}

.main_content_middle_link_site {
  background: url(../images/site.jpg) no-repeat;
}

.main_content_bottom {
  width: 940px;
  margin: 0 auto;
}

.main_content_bottom_list {
  display: flex;
  padding: 29px 39px 31px 32px;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  position: relative;
  margin-bottom: -1px;
}

.main_content_bottom_list::before, .main_content_bottom_list::after {
  content: '';
  clear: both;
  width: 100%;
  display: block;
  border: solid transparent;
  position: absolute;
  left: 0;
}

.main_content_bottom_list::before {
  border-top: none;
  border-left-color: #dddddd;
  border-width: 57px;
  bottom: -57px;
  left: -1px;
}

.main_content_bottom_list::after {
  border-top: none;
  border-left-color: #ffffff;
  border-width: 57px;
  bottom: -55px;
}

.main_content_bottom_item_description {
  width: 90%;
  letter-spacing: 0.086rem;
  font-weight: 600;
}

.main_content_bottom_item_name {
  width: 10%;
  align-self: flex-end;
}

.main_content_bottom_description {
  font-family: "OpenSans-Italic", sans-serif;
  font-size: 12px;
  color: #6d6d6d;
}

.main_content_bottom_name {
  font-family: "OpenSans-Italic", sans-serif;
  color: #f97373;
  font-size: 12px;
  margin-bottom: -15px;
}

.footer {
  background: url(../images/background.jpg);
}

.footer_main {
  width: 940px;
  margin: 0 auto;
  padding: 93px 0 16px;
}

.footer_list {
  display: flex;
  justify-content: space-between;
}

.footer_item {
  width: 255px;
  margin-right: 60px;
}

.footer_item_title {
  font-size: 14px;
  color: #818181;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.footer_item_description {
  margin-bottom: 9px;
  font-size: 12px;
  color: #474747;
}

.footer_item_description_link {
  color: #545454;
}

.footer_item_date {
  font-size: 11px;
  color: #373737;
  margin-bottom: 20px;
}

.footer_item .footer_item_social_list {
  display: flex;
}

.footer_item .footer_item_social_list_item {
  width: 26px;
  height: 26px;
  padding-right: 8px;
}

.footer_item .footer_item_social_list_link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.footer_item .footer_item_social_list_link_twitter {
  background: url(../images/icons/bottom_twitter.png) no-repeat center;
}

.footer_item .footer_item_social_list_link_twitter:hover {
  background: url(../images/icons/bottom_twitter_active.png) no-repeat center;
}

.footer_item .footer_item_social_list_link_facebook {
  background: url(../images/icons/bottom_facebook.png) no-repeat center;
}

.footer_item .footer_item_social_list_link_facebook:hover {
  background: url(../images/icons/bottom_facebook_active.png) no-repeat center;
}

.footer_item .footer_item_social_list_link_dribbble {
  background: url(../images/icons/bottom_dribbble.png) no-repeat center;
}

.footer_item .footer_item_social_list_link_dribbble:hover {
  background: url(../images/icons/bottom_dribbble_active.png) no-repeat center;
}

.footer_item .footer_item_social_list_link_be {
  background: url(../images/icons/bottom_be.png) no-repeat center;
}

.footer_item .footer_item_social_list_link_be:hover {
  background: url(../images/icons/bottom_be_active.png) no-repeat center;
}

.footer_item .footer_item_social_list_link_rss {
  background: url(../images/icons/bottom_rss.png) no-repeat center;
}

.footer_item .footer_item_social_list_link_rss:hover {
  background: url(../images/icons/bottom_rss_active.png) no-repeat center;
}

.footer_copyright {
  background-color: #131313;
}

.footer_copyright::before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
  border-bottom: 1px solid #1c1c1c;
  padding-bottom: 1px;
}

.footer_copyright_list {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer_copyright_title {
  padding: 25px 0;
  font-size: 12px;
  color: #3c3c3c;
  text-transform: capitalize;
}

.footer_copyright_item_arrow {
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  border: 1px solid #272727;
  border-radius: 4px;
  margin: 12px 0;
  background: #1b1a1b url(../images/icons/arrow.png) no-repeat center;
}

.footer_copyright_link {
  display: block;
  height: 100%;
  width: 100%;
}
