.footer_main {
    @include site_width;
    padding: 93px 0 16px;
}

.footer_list {
    display: flex;
    justify-content: space-between;
}

.footer_item {
    width: 255px;
    margin-right: 60px;

    &_title {
        font-size: 14px;
        color: #818181;
        text-transform: uppercase;
        margin-bottom: 18px;
    }

    &_description {
        margin-bottom: 9px;
        font-size: 12px;
        color: #474747;
        &_link {
            color: #545454;
        }
    }

    &_date {
        font-size: 11px;
        color: #373737;
        margin-bottom: 20px;
    }

    .footer_item_social_list {
        display: flex;

    &_item {
        width: 26px;
        height: 26px;
        padding-right: 8px;
    }

    &_link {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0;

        &_twitter {
            background: url(../images/icons/bottom_twitter.png) no-repeat center;

            &:hover {
                background: url(../images/icons/bottom_twitter_active.png) no-repeat center;
            }
        }

        &_facebook {
            background: url(../images/icons/bottom_facebook.png) no-repeat center;

            &:hover {
                background: url(../images/icons/bottom_facebook_active.png) no-repeat center;
            }
        }

        &_dribbble {
            background: url(../images/icons/bottom_dribbble.png) no-repeat center;

            &:hover {
                background: url(../images/icons/bottom_dribbble_active.png) no-repeat center;
            }
        }

        &_be {
            background: url(../images/icons/bottom_be.png) no-repeat center;

            &:hover {
                background: url(../images/icons/bottom_be_active.png) no-repeat center;
            }
        }

        &_rss {
            background: url(../images/icons/bottom_rss.png) no-repeat center;

            &:hover {
                background: url(../images/icons/bottom_rss_active.png) no-repeat center;
            }
        }
    }

    }
}