.main_content_bottom {
    @include site_width;

    &_list {
        display: flex;
        padding: 29px 39px 31px 32px;
        justify-content: space-between;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 3px;
        position: relative;
        margin-bottom: -1px;

        &::before, &::after {
            content: '';
            clear: both;
            width: 100%;
            display: block;
            border: solid transparent;
            position: absolute;
            left: 0;
        }

        &::before {
            border-top: none;
            border-left-color: #dddddd;
            border-width: 57px;
            bottom: -57px;
            left: -1px;
        }

        &::after {
            border-top: none;
            border-left-color: #ffffff;
            border-width: 57px;
            bottom: -55px;
        }
    }

    &_item_description {
        width: 90%;
        letter-spacing: 0.086rem;
        font-weight: 600;
    }

    &_item_name {
        width: 10%;
        align-self: flex-end;
    }

    &_description {
        font-family: "OpenSans-Italic", sans-serif;
        font-size: 12px;
        color: #6d6d6d;
    }

    &_name {
        font-family: "OpenSans-Italic", sans-serif;
        color: #f97373;
        font-size: 12px;
        margin-bottom: -15px;
    }
}