.main_content_middle {
    @include site_width (940px, 50px auto 10px);

    &::before {
        content: "";
        width: 100%;
        display: block;
        clear: both;
        margin-bottom: -1px;
        border-top-style: dashed;
        border-color: #cccccc;
        border-width: 1px;
    }

    &_list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &_item {
        width: 31.91489361702128%;
        margin-bottom: 19px;
        border: 1px solid #dddddd;
        border-radius: 3px;
        background-color: #ffffff;
        height: max-content;
        transition: all .3s linear;

        &:hover {
            margin: -10px 0 29px;
            box-shadow: 0 0 10px #8a8a8a;
        }

        &_title {
            font-family: "OpenSans-Semibold", sans-serif;
            font-size: 15px;
            color: #5e5e5e;
            padding-top: 243px;
            margin: 0 16px;
            width: max-content;

            &::after {
                content: "";
                display: block;
                clear: both;
                border-bottom: 1px solid #d5d5d5;
                width: 55%;
                margin-top: 15px;
            }
        }
    
        &_description {
            font-size: 12px;
            color: #6d6d6d;
            margin: 15px 16px 30px;
        }
    }

    &_link {
        display: block;
        margin: 4px 4px 0;

        &_mac {
            background: url(../images/mac.jpg) no-repeat;
        }

        &_paper {
            background: url(../images/paper.jpg) no-repeat;
        }

        &_site {
            background: url(../images/site.jpg) no-repeat;
        }
    }
}