.header_bottom {
    position: relative;
    &::before {
        content: "";
        display: block;
        width: 100%;
        clear: both;
        border-top: 1px solid #dbdbdb;
    }

    &::after {
    content: "";
    display: block;
	width: 100%;
	clear: both;
    border-top: 1px solid #dbdbdb;
    box-shadow: 0 2px 4px #dbdbdb;
    }

    &_list {
        @include site_width;
        display: flex;
    }

    &_item {
        border-right: 1px solid #eaeaea;
        padding: 2.127659574468085%;

        &_searchbar {
            padding: 1.382978723404255% 2.021276595744681% 1.276595744680851% 14.46808510638298%;

            &_input {
                border: 1px solid #dddddd;
                border-radius: 4px;
                height: 35px;
                width: 220px;
                font-size: 16px;

                &:focus {
                    outline: none;
                    border:1px solid #fb7474;
                }
            }

        }

        &_home {
            border-left: 1px solid #eaeaea;
            padding: 2.021276595744681%;
            height: 25px;
            width: 29px;
        }
    }

    &_link {
        height: 100%;
        width: 100%;
        font-size: 16px;
        color: #474747;
        text-transform: capitalize;

        &_home {
            display: block;
            font-size: 0px;
            background: url(../images/icons/home.png) no-repeat center;
        }

        &:hover {
            color: #fb7474;
        }
    }
}
