.header_middle {
    @include site_width;
    background-color: #ffffff;
    line-height: 1.2rem;
    max-height: 125px;

    &_title {
        font-family: 'OpenSans', sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: #4a4a4a;
        margin: 5.319148936170213% 0 5.851063829787234%;
    }
}


